@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");
@import url("components/cutetree.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/container.css");
body {
	font-family: 'Roboto';
	font-size: 20px;
}
h1,h3 {
	font-family: 'Lora';
	font-size: 25px;
	color: black;
}
h2 {
	font-size: 40px;
	color: rgb(85, 107, 47);
	font-family: 'Roboto';

}
a{
	text-decoration: none;
}
#treemage {
	margin-top: 30px;
	margin-left: 150px;
}
.types {
	box-shadow: 0px 10px 30px rgba(0,0,0,0.4);
	padding: 30px;
	border-radius: 10px

}