.banner{
    background-image:url(../../images/vector.jpg);
	color: black;
	padding: 300px 10px;
	background-size: cover;
	background-position: center;
}
.banner h1{
	font-size: 70px;
}
.banner h2{
	font-size: 25px;
	font-weight: lighter;
	opacity: 0.9;
	margin-bottom: 40px;
	font-family: 'times';
}